﻿@model IEnumerable<CustomerDetail.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<div style="font-family:Verdana">
<h2>Index</h2>

<p>
    @Html.ActionLink("Add new customer", "Create")
</p>
<table border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Id)
        </td>
        <td>
            @Html.ActionLink(item.Name,"Index", "Order", new {Cust_ID = item.Cust_Id},null)
           @* @Html.DisplayFor(modelItem => item.Name)*@
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Cust_Id}) |
            @Html.ActionLink("Details", "Details", new { id=item.Cust_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cust_Id })
        </td>
    </tr>
}

</table>
    <p>
    @Html.ActionLink("Home", "Index", "Home")
        </p>
    </div>
