﻿@model CustomerDetail.Models.Order

@{
    ViewBag.Title = "Create";
}

<div style="font-family:Verdana">

<h2>Details of new order</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Order</legend>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Order_Id)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order_Id)
            @Html.ValidationMessageFor(model => model.Order_Id)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Customer_Id, "Customer")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Customer_Id", String.Empty)
            @Html.ValidationMessageFor(model => model.Customer_Id)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    </div>

