﻿@model IEnumerable<CustomerDetail.Models.Order>

@{
    ViewBag.Title = "Index";
}

<div style="font-family:Verdana">
<h2>Index</h2>

<p>
    @Html.ActionLink("Add new order", "Create")
</p>
<table border ="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Order_Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Order_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Order_Id })
        </td>
    </tr>
}

</table>
    <p>
@Html.ActionLink("Home", "Index", "Home")
        </p>
</div>
